body{
  background-color: beige;
}
.box{
  
  width: 400px;
  height: 400px;
  border: 2px solid red;
background: url(./image/./p-process-3.png) no-repeat;
background-size: cover;\
position: relative;
}
.box h1{
  background-color: aqua;
  text-align: center;
  position: absolute;
  top: 180px;
  left: 100px;
  mix-blend-mode:darken;

}