.box{
  width: 100%;
  height: 800px;
  background-image: url(./image/./Screenshot-17.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.box1{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: aqua;
  opacity: .4;
}