.button{
  text-align: center;
  margin-top: 200px;
}
.class{
  text-decoration: none;
  background-color: blue;
  display: inline-block;
  padding: 20px 40px;
  color: white;
  position: relative;
  z-index: 1;
}
.class::before{
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: brown;
  transition: 1s;
  z-index: -1;
}
.class:hover::before{
  width: 100%;
}