*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
}
.skills li{
    margin: 20px 0;
}
.bar{
    background-color: aquamarine;
    display: block;
    height: 20px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    overflow: hidden;

}
.bar span{
    height: 20px;
    float: left;
    background-color: black;
}
.html1{
    width: 80%;
}
