
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
ul{
display: flex;
position: relative;
left: 600px;
top: 100px;
}
ul li{
list-style: none;
margin-left: 40px;
}
 a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
  transition: .3s;
}
ul li a:hover{
  color: aqua;
}
a::after{
  content: '';

background-color: aqua;
width: 0;
height: 2px;
display:block ;
transition: .3s;
}
a:hover::after{
  width: 100%;
}